{% extends '@UEGMobileArduinoOTAServer/base.html.twig' %}
{% block title %}{{ 'web.binary.title'|trans }}{% endblock %}
{% block classBody %}program {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output="assets/js/arduino_ota_server_binary_list.js"
    '@UEGMobileArduinoOTAServerBundle/Resources/assets/js/angular/binary/services.js'
    '@UEGMobileArduinoOTAServerBundle/Resources/assets/js/angular/binary/controller_list.js'

    %}
    <script src="{{ asset_url }}" type="text/javascript" ></script>
    {% endjavascripts %}

{% endblock javascripts %}

{% block content %}

    <div class="ui container fluid" ng-controller="ArduinoBinaryListCtrl">
        <table id="program_table" ng-init="initBinaryTable()" class="display select" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>{{ 'web.program.list.id'|trans }}</th>
                <th>{{ 'web.program.list.name'|trans }}</th>
                <th>{{ 'web.program.list.alpha'|trans }}</th>
                <th>{{ 'web.program.list.beta'|trans }}</th>
                <th>{{ 'web.program.list.prod'|trans }}</th>
                <th>{{ 'web.program.list.created_at'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th search-type="none">{{ 'web.program.list.id'|trans }}</th>
                <th search-type="text">{{ 'web.program.list.name'|trans }}</th>
                <th search-type="none">{{ 'web.program.list.alpha'|trans }}</th>
                <th search-type="none">{{ 'web.program.list.beta'|trans }}</th>
                <th search-type="none">{{ 'web.program.list.prod'|trans }}</th>
                <th search-type="none">{{ 'web.program.list.created_at'|trans }}</th>
                <th></th>
            </tr>
            </tfoot>
        </table>

    </div>

{% endblock content %}
